{% extends 'flatpages/default.html' %}

{% block title %}
Advert
{% endblock title %}

{% block content %}
    {% if advertList %}
        <h3>Последние публикации</h3>
        <br>
        <ul>
        {% for record in advertList %}
            <hr>
            <li>
                <p align="left">
                    <b>Автор:</b> {{ record.id_user }} <span style="padding-left: 10px;"><b>Категория:</b> {{ record.id_category }} <b>Опубликовано:</b> {{ record.created_at|date:'d-m-Y H:i' }}</span>
                    <br>
                    {% if request.user == record.id_user %}
                        <a class="nav-link" href="/edit/{{ record.pk }}">Редактировать</a>
                    {% endif %}
                    <a class="nav-link" href="/advert/{{ record.pk }}"> Читать </a>
                </p>
            </li>
        {% endfor %}
        </ul>
        <hr>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">В начало</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
            {% endif %}

        {% endif %}

    {% else %}
        <h3>Публикации отсутствуют =(</h3>
    {% endif %}

{% endblock content %}