<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Responsive sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/adverts/">
                                Публикации
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/adverts/add">
                                Добавить публикацию
                            </a>
                        </li>
                       <li class="nav-item active">
                           {% if request.user.is_authenticated %}
                                <a class="nav-link" href="/adverts/responses">Просмотр отзывов</a>
                           {% endif %}
                       </li>
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                            <a class="nav-link"  href="/accounts/logout/">
                                Выйти
                            </a>
                            {% else %}
                            <a class="nav-link" href="/accounts/login/">
                                Войти
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            {% if request.user.is_authenticated %}
                            <p align="right">Пользователь: {{request.user.username}}</p>
                            {% endif %}

                            {% block content %}
                            {{ flatpage.content }}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>
